@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TelephoneDll.Telephone> telephones = ViewBag.Select;
}

<div>
    <h2>Index (Layout body)</h2>
    @foreach (TelephoneDll.Telephone telephone in telephones)
    {
        @Html.Partial("Partial", new string[] { telephone.Id.ToString(), telephone.Surname, telephone.Number.ToString() })
    }
</div>

@section Header {
    <h2>MVC with Entity Framework (Layout header)</h2>
}

@section Footer {
    <h2>(Layout footer)</h2>
}