
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <h3>Add</h3>
    <form method="post">
        <div>
            <p>Surname: <input type="text" id="surname" name="surname" /></p>
            <p>Number: <input type="number" id="number" name="number" min="0" max="999999999"></p>
            <p><input type="submit"></p>
        </div>
    </form>
</body>
</html>
