
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Delete</h3>
    <form method="post">
        <div>
            <p>Enter id:<input type="number" id="id" name="id" min="1"></p>
            <p><input type="submit"></p>
        </div>
    </form>
</body>
</html>
